body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#topbar{
    
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 89px;
    background-color: rgba(255, 255, 255, 0.5);
}

#topbar a {
    background-image:url(http://cdn-0.nflximg.com/en_us/home/logo_v7.png);
    background-repeat: no-repeat;
    display: block;
    width: 146px;
    height: 40px;
    font-size: 0;
    line-height: 0;
    outline: none;
    overflow: hidden;
    
    }

#billboard{
    padding-top: 89px;
    background-color:black;
}

#billboardvid{
    /*z-index: 2;*/
    max-height: 400px;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: block;
}


#billboardpic{
    max-height: 400px;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    margin: 0 auto;
    height: 100%;
    display:block;
}

#form1{
    background-color: blue;
}
/*20
    
    #form1 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    background: #fff;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
    padding: 6px;
}*/